<p class="block_letters" style="width:100%;">Income Summary</p>
<table style="width : 50%;" id="report">
    <tr>
        <th>Income Amount</th>
        <th>Income Source</th>
    </tr>
    <tr>
        <td>
            {{total_Salary}}
        </td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>
            {{total_Business}}
        </td>
        <td>Business</td>
    </tr>
    <tr>
        <td>
            {{total_interest}}
        </td>
        <td>Interest</td>
    </tr>
</table>
<p class="block_letters" style="width:100%;">Expense Summary</p>
<table style="width : 50%" id="report">
    <tr>
        <th>Amount</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>
            {{Rent}}
        </td>
        <td>Rent</td>
    </tr>
    <tr>
        <td>
            {{Travel}}
        </td>
        <td>Travel</td>
    </tr>
    <tr>
        <td>
            {{Office}}
        </td>
        <td>Office</td>
    </tr>
    <tr>
        <td>
            {{Party}}
        </td>
        <td>Party</td>
    </tr>
    <tr>
        <td>
            {{Shopping}}
        </td>
        <td>Shopping</td>
    </tr>
    <tr>
        <td>
            {{Study}}
        </td>
        <td>Study</td>
    </tr>
</table>