	<!-- Showing income/expense details-->

	<table class="table table-striped table-bordered text-center">
		<tr>
			<th colspan="2" class="text-center">
				Transaction Details
			</th>
		</tr>
		<tr>
			<td>
				 <label>Payer :</label>
			</td>
			<td>
				 <label>{{ngDialogData.payer}}</label>
				
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Payee :</label>
			</td>
			<td>
				<label>{{ngDialogData.payee}}</label>
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Category :</label>
			</td>
			<td>
				<label>{{ngDialogData.category}}</label>
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Sub-Category :</label>
			</td>
			<td>
				<label>{{ngDialogData.subcategory}}</label>
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Amount :</label>
			</td>
			<td>
				<label>{{ngDialogData.amount}}</label>
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Date :</label>
			</td>
			<td>
				<label>{{ngDialogData.date}}</label>
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Mode of payment :</label>
			</td>
			<td>
				<label>{{ngDialogData.modeOfPayment}}</label>
	    	</td>
		</tr>

		<tr>
			<td>
				 <label>Notes :</label>
			</td>
			<td>
				<label>{{ngDialogData.notes}}</label>
	    	</td>
		</tr>
		
	</table> 
