<div class="col-xs-4 formClass">
      <h3 align="center">Expense Details</h3>
      <form name = "detailsForm" novalidate align="center" >
      <table class="formTable" align="center">
      
       <tr>
         <td> <label>Enter Amount  </label></td>
          <td><input type = "text" name="amount" class="required" required ng-model="Transaction.amount" ng-pattern = "/^[0-9]{1,7}(\.[0-9]+)?$/"   ng-focus="amountBlur=false;"
                   ng-blur="amountBlur=true;"/></td>
        </tr>
        <tr>
          <td><span class="invalid" ng-show="detailsForm.amount.$error.required && (detailsForm.amount.$dirty || submitted);">Amount is required.</span></td>
                    <td><span class="invalid" ng-show="detailsForm.amount.$error.pattern">Invalid Amount.</span></td>
        </tr>
       
        <tr>
          <td><label>Category </label></td>
          <td><select  class="required"  required ng-options = "category for category in categories_exp" ng-model="Transaction.category" ng-selected = "Rent">
          </select></td>
        </tr>
         
        <tr>
         <td><label>Date </label></td>
          <td><input type = "date" required ng-model = "Transaction.date" /></td>
        </tr>
        
       <tr>
          <td><label>Payment Mode  </label></td>
          <td><select  class="required" required ng-options = "payment for payment in modeOfPayment" ng-model= "Transaction.mode">
          </select></td>
        </tr>
      
        <tr>
         <td><label>Add Note </label></td>
          <td><textarea rows="2" cols="30" name = "note" maxlength = "60" ng-model = "Transaction.note" ng-focus="commentFocus=true;" ng-blur="commentFocus=false;"></textarea></td>
        </tr>

        <tr>
            <td></td>
           <td><span ng-show="detailsForm.note.$dirty && commentFocus">(Note should not exceed 20 characters.)</span></td>
        </tr>
           
      </table>
     
        <button class="btn btn-default"  ng-disabled="detailsForm.$invalid" ng-if="!edit"  ng-click = "addExpense();" > Add </button>
        <button  class="btn btn-default" ng-disabled="detailsForm.$invalid" ng-if="edit" ng-click = "editExp();">Save</button>
        <button class="btn btn-default" ng-click = "reset();"  > Cancel </button>
      </form> 
    </div>