<!doctype html>
<html>
   
   <head>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </head>
   
   <body ng-app = "myapp">
      
      <div ng-controller = "mainctrl" class="container">
         <div class="row">
             <h3> Expense Manager </h3>
         </div>
         <div class="row">
             <div class="col-xs-4">
                 <button type="button" class="btn btn-primary" ng-click="showIncome()">View Income</button>
                 <button type="button" class="btn btn-primary" ng-click="showExpense()">View Expense</button>
                 <button type="button" class="btn btn-primary" ng-click="addTrans()">Add Transaction</button>
             </div>
         </div>
         <div id="view" ng-hide="add">
            <div class="row">
                 <div class="col-xs-4">
                    <h2>Details</h2>
                    <p>Total Income : {{totalIncome}} </p>           
                    <p>Total Expense : {{totalExpense}} </p>
                    <p>Total Balance : {{totalBalance}} </p>
                </div>
            </div>
            <div class="row">
                 <table class="table">
                    <thead>
                        <tr>
                            <th>TransID</th>
                            <th>Payer</th>
                            <th>Payee</th>
                            <th>Category</th>
                            <th>SubCategory</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>ModeOfPayment</th>
                            <th>Notes</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="x in TransValue">
                            <td>{{ x.transactionId }}</td>
                            <td>{{ x.payer }}</td>
                            <td>{{ x.payee }}</td>
                            <td>{{ x.category }}</td>
                            <td>{{ x.subCategory }}</td>
                            <td>{{ x.amount }}</td>
                            <td>{{ x.date }}</td>
                            <td>{{ x.modeOfPayment }}</td>
                            <td>{{ x.notes }}</td>
                            <td>{{ x.type }}</td>
                            <td>
                                <button type="button" class="btn btn-warning" ng-click="modify(x.type,x.transactionId)">Modify</button>
                                <button type="button" class="btn btn-danger" ng-click="del(x.type,x.transactionId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
         
         <div id="add" ng-hide="view" class="row">
             <div class="row">
                <h2>Add Transaction </h2>
             </div>
             <div class="row">
                <div class="col-xs-5">
                    <form role="form" ng-submit="submit()">
                        <div class="form-group">
                            <label>Transaction Id :</label>
                            <input type="text" class="form-control" placeholder="id" ng-model="t.transactionId" ng-disabled="true">
                        </div>
                        <div class="form-group">
                            <label>Payer : </label>
                            <input type="text" class="form-control" placeholder="payer" ng-model="t.payer">
                        </div>
                        <div class="form-group">
                            <label>Payee : </label>
                            <input type="text" class="form-control" placeholder="Payee" ng-model="t.payee">
                        </div>
                        <div class="form-group">
                            <label>Category : </label>
                            <input type="text" class="form-control" placeholder="Category" ng-model="t.category">
                        </div>
                        <div class="form-group">
                            <label>Sub Category : </label>
                            <input type="text" class="form-control" placeholder="Sub Category" ng-model="t.subCategory">
                        </div>
                        <div>
                            <button type="submit" id="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                </div>
                <div class="col-xs-5">
                        <div class="form-group">
                            <label>Notes : </label>
                            <input type="text" class="form-control" placeholder="Category" ng-model="t.notes">
                        </div>
                        <div class="form-group">
                            <label>Amount : </label>
                            <input type="text" class="form-control" placeholder="Amount" ng-model="t.amount">
                        </div>
                        <div class="form-group">
                            <label>Date : </label>
                            <input type="text" class="form-control" placeholder="Date" ng-model="t.date">
                        </div>
                        <div class="form-group">
                            <label>Mode of Payment : </label>
                            <input type="text" class="form-control" placeholder="Mode of Payment" ng-model="t.modeOfPayment">
                        </div>
                        <div class="form-group">
                            <label>Types : </label>
                            <input type="text" class="form-control" placeholder="Types" ng-model="t.type">
                        </div>
                    </form> 
                </div>
             </div>
         </div>
         
      </div>  
      <script type="text/javascript" src="../app/app.js"></script>
      <script type="text/javascript" src="../app/services/incomeService.js"></script>
      <script type="text/javascript" src="../app/services/expenseService.js"></script>
      <script type="text/javascript" src="../app/controllers/main.js"></script>
      
   </body>
</html>