<div class="row" style="border-radius :10px; background-color:grey;">
  <h2 style="margin-left :50px; margin-bottom : 20px; color:white">Expense Manager</h2>
    </div>
    <div style="margin-top :15px;">
      <label> Total Income = {{total.income}}</label>  
       <label style="margin-left :40px;">Total Expense = {{total.expense}}</label>
       <label style="margin-left :40px;">Balance Left = {{total.balance}}</label>
    </div>
    <div class = "choiceOfSelection">
      <button class="btn btn-default choice"  ui-sref="income"> Add Income </button>
      <button class="btn btn-default choice"  ui-sref="expense"> Add Expense </button>
    </div>