<div style="margin-left:90px; margin-right:90px;">
<div ng-show = " income.length > 0">
			<h3 class="title"> Income Details </h3>
			<table class="table table-bordered">
				<thead><tr><th>Id</th>
				<th>Amount</th>
				<th>Source</th>
				<th>Date</th>
				<th>Mode</th>
				<th>Edit</th>
				<th>Delete</th></tr></thead>

				<tr ng-repeat = "inc in income">
					<td ng-bind = "$index + 1"></td>
					<td ng-bind = "inc.amount"></td>
					<td ng-bind = "inc.category"></td>
					<td>{{inc.date | date:"MM/dd/yyyy 'at' h:mma"}}</td>
					<td ng-bind = "inc.mode"></td>
					<td><button class="btn btn-default" ng-click="EnableEdit(inc,$index);">Edit</button></td>
					<td><button class="btn btn-default" ng-click="deleteExp($index,inc.amount);">Delete</button></td>
				</tr>
			</table>
		</div>
		</div>