 <!DOCTYPE html>
<html>
<head>
    <title>Expence Manager</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body>
   
       <h1>Expence Manager</h1>
   
    <div ng-app="myApp" ng-controller="myControl">
        
        <input type="button" value="Show Income" ng-click="ShowIncome()" />
        <input type="button" value="Show Expence" ng-click="ShowExpance()" />
        <br />
        <br />
        <div ng-show = "IsVisible"> 
        
        
        <table border="2px"  ng-init="clkIndex=-1" >
        <tr>
            <th>Name</th>
            <th>HRA</th>
            <th>LTA</th>
            <th>Medical</th>
            <th>Party</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="data in expenseData"  > 
            <td >{{data.name}}</td>
            <td >{{data.hra}}</td>
            <td >{{data.lta}}</td>
            <td >{{data.medical}}</td>
            <td >{{data.party}}</td>
            <td >{{data.medical + data.hra + data.lta +data.party}}</td>
        </tr>
       
    </table>
        </div>
        <div ng-hide = "IsVisible">
        <table border="2px"  ng-init="clkIndex=-1" >
        <tr>
            <th>Name</th>
            <th>Income</th>
            <th>Source</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="data in incomeData"  > 
            <td >{{data.name}}</td>
            <td >{{data.income}}</td>
            <td >{{data.sources}}</td>
            <td >{{data.income}}</td>
            
        </tr>
       
    </table>
        </div>
    </div>
</body>
</html>