.tab-class{ 
	display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.nav-center{
	margin: 0 auto;
	float: none important;
	background-color: #EDD0FF;
}
input.ng-dirty.ng-valid{
	background: #ddffdd;
}
input.ng-dirty.ng-invalid{
	background: #ffdddd;
}
.view {
	padding: 20px 20px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width: 95%;
}

.search{
	padding: 20px 20px;
	margin: 10px;
	color: green;
}

.search-input{
	color: black;
}