<h1>Expense Details</h1>

<div class="table-responsive">  
  <table class="table table-striped table-hover">
  <tr>
    <th>Id</th>
    <th>payer</th>
    <th>payee</th>
    <th>category</th>
    <th>subCategory</th>
    <th>amount</th>
    <th>date</th> 
    <th>modeOfPayment</th>
    <th>noteType</th>
    <th>Operation</th>
  </tr>
  <tr ng-repeat="expense in expenses">
    <td>{{expense.transactionId}}</td>
    <td>{{expense.payer}}</td> 
    <td>{{expense.payee}}</td>
    <td>{{expense.category}}</td>
    <td>{{expense.subCategory}}</td>
    <td>{{expense.amount}}</td>
    <td>{{expense.date}}</td>
    <td>{{expense.modeOfPayment}}</td>
    <td>{{expense.noteType}}</td>
    <td><button class="btn btn-danger" ng-click = "deleteExpenseRecord(expense)">Delete</button></td>
  </tr>
</table>
</div>