	<!-- Showing income/expense details-->
	<table class="table table-stripped">
		<tr>
			<td class="text-center"><b>Payer : </b> {{ngDialogData.payer}}</td>	
		</tr>

		<tr>
			<td class="text-center"><b>Payee : </b> {{ngDialogData.payee}}</td>
		</tr>

		<tr>
			<td class="text-center"><b>Category : </b> {{ngDialogData.category}}</td>
		</tr>

		<tr>
			<td class="text-center"><b>Sub-Category :</b> {{ngDialogData.subcategory}}</td>
		</tr>

		<tr>
			<td class="text-center"><b>Amount :</b> {{ngDialogData.amount}}</td>
		</tr>

		<tr>
			<td class="text-center"><b>Date :</b> {{ngDialogData.date}}</td>
		</tr>

		<tr>
			<td class="text-center"><b>Mode Of Payment :</b> {{ngDialogData.modeOfPayment}}</td>
		</tr>

		<tr>
			<td class="text-center"><b>Notes :</b> {{ngDialogData.notes}}</td>
		</tr>
		
	</table> 
