<div class="form-group row" style="padding-left: 60px;">
<label class="col-sm-2 form-control-label">Show By Category</label>
<div class="col-sm-10">
  <select class="form-control" style="width: 250px;" placeholder="Select Category"  name="Searchcategory" ng-model="searchText" >
      <option value="all" selected>Show All</option>
      <option value="Interest">Interest</option>
      <option value="Shares">Shares</option>
      <option value="Health">Health</option>
      <option value="Travel">Travel</option>
      <option value="Food">Food</option>
      <option value="Maintenance">Maintenance</option>
      <option value="Loan">Loan</option>
   </select>
</div>
</div>

<table >
                <caption style="text-align: center;font-weight: bold; font-size: 18px">Transaction information</caption>                
                <tr>
                  <th>TransactionId  </th>
                  <th style="padding-left:10px; font-weight: bold">Payer  </th>
                  <th style="padding-left:10px; font-weight: bold">Payee  </th>
                  <th style="padding-left:10px; font-weight: bold">Category  </th>
                  <th style="padding-left:10px; font-weight: bold">SubCategory  </th>
                  <th style="padding-left:10px; font-weight: bold">Amount  </th>
                  <th style="padding-left:20px; font-weight: bold">Date  </th>
                  <th style="padding-left:10px; font-weight: bold">ModeOfPayment  </th>
                  <th style="padding-left:10px; font-weight: bold">Type  </th> 
                  <th></th>
                  <th></th>         
                </tr>

<!-- <p>Income {{ Transaction.data }}</p>         
  -->   
                <tbody class="table-striped">        
                <tr ng-repeat=" key in Transaction.data " >
                  <td  ng-if="key.category == searchText" ng-bind="key.transactionId"> </td>
                  <td  ng-if="key.category == searchText || searchText=='all'" ng-bind="key.payer" style="padding-left:10px"> </td>
                  <td  ng-if="key.category == searchText  || searchText=='all'"   ng-bind="key.payee" style="padding-left:10px"> </td>
                  <td  ng-if="key.category == searchText || searchText=='all'"   ng-bind="key.category" style="padding-left:10px"> </td>
                  <td  ng-if="key.category == searchText || searchText=='all'"   ng-bind="key.subCategory" style="padding-left:10px"> </td>
                  <td   ng-if="key.category  == searchText || searchText=='all'"  style="padding-left:10px">{{ key.amount | number:2}} </td>
                  <td  ng-if="key.category  == searchText || searchText=='all'"   ng-bind="key.date" style="padding-left:10px"> </td>
                  <td  ng-if="key.category == searchText || searchText=='all'"   ng-bind="key.modeOfPayment" style="padding-left:10px"> </td>
                  <td  ng-if="key.category  == searchText || searchText=='all'"   ng-bind="key.transType" > </td>
                  <td  ng-if="key.category == searchText || searchText=='all'"   ng-click=" editTrans(key.transactionId)"  style="padding-left:10px" ><button>Edit </button></td>
                  <td  ng-if="key.category == searchText || searchText=='all'" ng-click="deleteTransaction(key.transactionId)" style="padding-left:10px"><button>Delete</button></td>
                </tr>
                </tbody> 

                <tr style="height:20px"></tr>

</table> 