<div id="add" ng-hide="view" class="row">
    <div class="page-header">
        <h2>Add Transaction</h2>
    </div>
    <div class="row">
       <div class="col-xs-5">
           <form role="form" ng-submit="submit()">
               <div class="form-group">
                   <!--<label>Transaction Id :</label>-->
                   <input type="hidden" ng-model="t.transactionId" ng-bind="t.transactionId" ng-value="t.transactionId">
               </div>
               <div class="form-group">
                   <label>Payer : </label>
                   <input type="text" class="form-control" placeholder="payer" ng-model="t.payer" required>
               </div>
               <div class="form-group">
                   <label>Payee : </label>
                   <input type="text" class="form-control" placeholder="Payee" ng-model="t.payee" required>
               </div>
               <div class="form-group">
                   <label>Amount : </label>
                   <input type="text" class="form-control" placeholder="Amount" ng-model="t.amount" required>
               </div>
               <div class="form-group">
                   <label>Date : </label>
                   <input type="datetime-local" class="form-control" placeholder="Date" ng-model="t.date" required>
               </div>
               <div>
                   <button type="submit" id="submit" class="btn btn-success">Save</button>
                   <button type="button" class="btn btn-danger">Cancel</button>
               </div>
       </div>
       <div class="col-xs-5">
               <div class="form-group">
                   <label>Types : </label>
                   <!--<input type="text" class="form-control" placeholder="Types" ng-model="t.type" required required>-->
                   <select ng-model="t.type" class="form-control" ng-change="setCategory()">
                       <option ng-value="income">income</option>
                       <option ng-value="expense">expense</option>
                   </select>
               </div>
                <div class="form-group">
                   <label>Category : </label>
                   <select class="form-control" ng-model="t.category" ng-options="c for c in category"></select>
               </div>
               <!--<div class="form-group">
                   <label>Sub Category : </label>
                   <input type="text" class="form-control" placeholder="Sub Category" ng-model="t.subCategory" required>
                   <select ng-model="t.subCategory" class="form-control" ng-value="t.subCategory">
                       <option ng-value="Salary">Salary</option>
                       <option ng-value="Freelance">Freelance</option>
                       <option ng-value="Food">Food</option>
                       <option ng-value="Health">Health</option>
                       <option ng-value="Cloths">Cloths</option>
                   </select>
               </div>-->
               <div class="form-group">
                   <label>Notes : </label>
                   <input type="text" class="form-control" placeholder="notes" ng-model="t.notes" maxlength="20" required>
               </div>
               <div class="form-group">
                   <label>Mode of Payment : </label>
                   <select class="form-control" ng-model="t.modeOfPayment" ng-options="c for c in modeOfPayment"></select>
               </div>
           </form> 
       </div>
    </div>
</div>