<div id="view" ng-hide="add">
    <div class="row">
         <div class="col-xs-4">
            <h2>Details</h2>
            <p>Total Income : {{totalIncome}} </p>           
            <p>Total Expense : {{totalExpense}} </p>
            <p>Total Balance : {{totalBalance}} </p>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-warning" ng-click="modify(x.type,x.transactionId)">Modify</button>
        <button type="button" class="btn btn-danger" ng-click="del(x.type,x.transactionId)">Delete</button>
        <button id="save-btn" type="button" class="btn btn-success" ng-click="del(x.type,x.transactionId)">Save</button>
    </div>
    <div class="row">
         <table class="table">
            <thead>
                <tr>
                    <th>TransID</th>
                    <th>Payer</th>
                    <th>Payee</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>ModeOfPayment</th>
                    <th>Notes</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
               <tr ng-repeat="x in TransValue">
                    <td>{{ x.transactionId }}</td>
                    <td><input class="form-control" type="text" value="{{ x.payer }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.payee }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.category }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.subCategory }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.amount }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.date }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.modeOfPayment }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.notes }}"></td>
                    <td><input class="form-control" type="text" value="{{ x.type }}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<div>